{% extends 'base.html' %}
{% block content %}
<div class="container mt-3" style="user-select: auto;">
    <div class="row" style="user-select: auto;">
        <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 p-2" style="user-select: auto;">
        <div id="content" class="border-top border-secondary" style="user-select: auto;">
            <div class="content_block" style="user-select: auto;">
                
                <h5 class="border-bottom pb-2 mb-3" style="user-select: auto;">로그인</h5>
                <form method="post" class="post-form" action="/common/login/" style="user-select: auto;">
                    <input type="hidden" name="csrfmiddlewaretoken" value="rprK5P4eAQxjGoaBOSQ87gSbtatkUaTZanX6TZf8BduPKy77S2m5kc5La2bwD5hP" style="user-select: auto;">
                    <input type="hidden" name="next" value="" style="user-select: auto;">  <!-- 로그인 성공후 이동되는 URL -->


                    <div class="form-group" style="user-select: auto;">
                        <label for="username" style="user-select: auto;">사용자ID</label>
                        <input type="text" class="form-control" name="username" id="username" value="" style="user-select: auto;">
                    </div>
                    <div class="form-group" style="user-select: auto;">
                        <label for="password" style="user-select: auto;">비밀번호</label>
                        <input type="password" class="form-control" name="password" id="password" value="" style="user-select: auto;">
                    </div>

                    <div class="my-3" style="user-select: auto;">
                        <a href="{% url 'account_reset_password' %}" style="user-select: auto;">비밀번호를 잊으셨나요?</a>
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary" style="user-select: auto;">로그인</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;">
</div>
</div>
{% endblock %}