{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <form class="post-form" method="POST">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="form-group">
            <textarea class='form-control' name="content" id="content"
                      autofocus
                      rows="10">{{form.content.value|default_if_none:''}}</textarea>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>
{% endblock %}