{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <form class="post-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">댓글 내용</label>
            <textarea class='form-control' name="content" id="content"
                      rows="10">{{form.content.value|default_if_none:''}}</textarea>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>
{% endblock %}