<div class="container mt-3" style="user-select: auto;">
  <div class="row" style="user-select: auto;">
      <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;"></div>
      <div class="col-sm-12 col-md-6 col-lg-6 p-2" style="user-select: auto;">
          <div id="content" class="border-top" style="user-select: auto;">
              <div class="content_block" style="user-select: auto;">
                  {% block form %}
                  {% endblock %}
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;"></div>
  </div>
</div>