{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-danger text-center">
            <strong>{{message}}</strong>
            <a href={% url 'posts:post_detail' post.id %} class="btn-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </a>
        </div>
    {% endfor %}
{% endif %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-sm-12 col-lg-2 col-md-1"></div>
        <div class="col-sm-12 col-lg-8 col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">
                        <h3>{{ post.title }}</h3>
                        
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if post.dt_updated %}
                            <div class="badge bg-light p-2 text-dark text-start mx-3">
                                <div class="mb-2">{{ post.author }}</div>
                                <div>{{ post.dt_updated }}(수정됨)</div>
                            </div>
                        {% else %}
                            <div class="badge bg-light p-2 text-dark text-start">
                                <div class="mb-2">{{ post.author }}</div>
                                <div>{{ post.dt_created }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>
                            {% if post.author == request.user %}
                            <a href="{% url 'posts:post_list' %}"
                                class="btn btn-sm btn-outline-secondary">목록</a>
                            <a href="{% url 'posts:post_update' post.id %}"
                                class="btn btn-sm btn-outline-secondary">수정</a>
                            <a href="{% url 'posts:post_delete' post.id %}"
                                class="delete btn btn-sm btn-outline-secondary">삭제</a>
                            {% else %}
                            <a href="{% url 'posts:post_list' %}"
                                class="btn btn-sm btn-outline-secondary">목록</a>
                            {% endif %}
                        </span>
                        <span class="pt-1">
                            <a href={% url 'posts:post_like' post.id %} class="text-decoration-none">
                                <span style="color: red;" class="">
                                    {% if user in post.like.all %}
                                        <i class="fas fa-heart"></i>
                                    {% else %}
                                        <i class="far fa-heart"></i>
                                    {% endif %}
                                </span>
                                <span class="text-dark">
                                    {{ post.like.count }}
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            {% if post.comment_set.count > 0 %}
                <div class="mt-3">
                    {% for comment in post.comment_set.all %}
                        <div class="card-text" style="white-space: pre-line;">
                            <p>{{ comment.content }}</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            {% if comment.dt_updated %}
                                <div class="badge bg-light p-2 text-dark text-start mx-3">
                                    <div class="mb-2">{{ comment.author }}</div>
                                    <div>{{ comment.dt_updated }}(수정됨)</div>
                                </div>
                            {% else %}
                                <div class="badge bg-light p-2 text-dark text-start">
                                    <div class="mb-2">{{ comment.author }}</div>
                                    <div>{{ comment.dt_created }}</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="my-3">
                            {% if comment.author == request.user %}
                                <a href="{% url 'posts:comment_update' comment.id %}"
                                    class="btn btn-sm btn-outline-secondary">수정</a>
                                <a href="{% url 'posts:comment_delete' comment.id %}"
                                    class="delete btn btn-sm btn-outline-secondary">삭제</a>
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="{% url 'posts:comment_create' post.id %}" method="POST" class="my-3">
                {% csrf_token %}
                {% include 'form_errors.html' %}
                <label for="content"></label>
                <textarea name="content" id="content"
                        {% if post.comment_set.count < 2 %}autofocus{% endif %}
                        {% if not user.is_authenticated %}disabled{% endif %}
                        class="form-control" rows="10" ></textarea>
                <hr>
                <input type="submit" value="등록하기" class="btn btn-primary">
            </form>
        </div>
        <div class="col-sm-12 col-lg-2 col-md-1"></div>
    </div>
</div>
{% endblock %}